.box{
    width: 180px;
    height: 200px;
    background: linear-gradient(145deg,#edf057,#ffffff);
    box-shadow: 4px 4px 8px #f7c336,4px -4px 8px #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
.viewRow{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center; 
}