
.btn_shadow{
  background: linear-gradient(145deg,#e2e8ec,#ffffff);
  box-shadow: 4px 4px 8px #cbcbcb,4px -4px 8px #ffffff;
}
.btn_shadow:hover{
  background: #5c72ec;
  color: white;
  transform: translate(-10px);
}
.heading{
  margin: 50px 0 50px 0;
}
.heading h4{
  color: #ff014f;
  letter-spacing: 6px;
  font-weight: 400;
}
.heading h1{
  font-size: 60px;
  color: #3c3e41;
}
.h1{
  color: #3c3e41;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 35px;
}
p{
  color:#3c3e41 ;
}
.text-center{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
